#file {
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}

p {
    margin: 0;
}

.icon {
    width: 100px;
    height: 100px;
    pointer-events: none;
}

.file {
    display: none;
}

.file::file-selector-button {
    font-size: 14px;
    background: #fff;
    border: 1px solid #111;
    border-radius: 12px;
    padding: 4px 32px;
    cursor: pointer;
}

.preview {
    width: 350px;
    height: 150px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 3px dashed #eee;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 2vh;
}

.preview:hover {
    border-color: #111;
}

.preview.active {
    background-color: #efeef3;
    border-color: #111;
}

.preview_msg {
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0 10px;
}

.preview_desc {
    margin: 0;
    font-size: 14px;
}

.preview_info {
    width: 100%;
    list-style: none;
    padding: 0;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.preview_info .info_key {
    display: block;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 4px;
}

.preview_info .info_value {
    font-size: 14px;
}


@media (min-width: 400px) and (max-width: 600px){
    .file-upload-modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        border: none;
        border-radius: 10px;
    }


    .preview {
        width: 150px;
        height: 30px;
        background-color: #fff;
        border-radius: 5px;
        border: 3px dashed #eee;
    }


}



@media (min-width: 0px) and (max-width: 400px){
    .file-upload-modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        border: none;
        border-radius: 10px;
    }


    .preview {
        width: 150px;
        height: 30px;
        background-color: #fff;
        border-radius: 5px;
        border: 3px dashed #eee;
    }


}