

//$base-bg: #3a3e47;
//$component-bg: #282b32;
//
//$component-text: #ffff;
//$base-text: #ffff;
//$body-bg: #565656;
//$secondary: #ffff;

$primary: #bfbfbf;
$component-text: #000000;
$base-text: #000000;
$body-bg: #f2efde;
$secondary: #ffff;
$component-bg: #f2efde;
$base-bg: #ececec;

@import 'node_modules/@progress/kendo-theme-default/dist/all';
